<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="EcontactEntities" connectionString="Data Source=DESKTOP-URDBT0F\SQLEXPRESS; Initial Catalog=Econtact; Integrated Security=true;" providerName="System.Data.SqlClient" />
    <!--<add name="EcontactEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.EntityClient;provider connection string=&quot;data source=DESKTOP-URDBT0F\SQLEXPRESS;initial catalog=Econtact;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>